In [1]:
import practicalSPARQL

# This is a short practicalSPAQL template notebook

## Simple Select Examples

In [8]:
endpoint = practicalSPARQL.practicalWrapper('https://query.wikidata.org/sparql')
# In case you are working with your own database with login access, make sure to insert the creds using the line below. 
# database.setCredentials('USERNAME', 'PASSWORD')

query = practicalSPARQL.stringify_SPARQL('./queries/queryWikiCats.sparql')      # stringify considers the sparql, by default, to be in a seperate folder. 
                                                                        # by setting the is_file flag to False, you can pass a string query variable.   
df = endpoint.select_as_dataframe(query)
df

                                          item                itemLabel
0       http://www.wikidata.org/entity/Q378619                       CC
1       http://www.wikidata.org/entity/Q498787                   Muezza
2       http://www.wikidata.org/entity/Q677525                  Orangey
3       http://www.wikidata.org/entity/Q851190              Mrs. Chippy
4       http://www.wikidata.org/entity/Q893453           Unsinkable Sam
..                                         ...                      ...
153  http://www.wikidata.org/entity/Q110565455                    Jorts
154  http://www.wikidata.org/entity/Q110727478                   Willow
155  http://www.wikidata.org/entity/Q112152493  the pet from Borodianka
156  http://www.wikidata.org/entity/Q113512285               11 kitties
157  http://www.wikidata.org/entity/Q115589264                     Elio

[158 rows x 2 columns]

## In cases where multiple queries, along the same template, with mutliple entities need to be executed

In [10]:
# you can loop and create multiple queries based on a single template.
# In this case, we want to query all cats, followed by all horses

vars = ['wd:Q146', 'wd:Q726']           # entities for cats and horses in Wikidata
for v in vars:                          # simple loop to create queries with different variables. 
    query = practicalSPARQL.stringify_SPARQL('./queries/queryWikiVars.sparql', includesVariables=True, variable_dict={'{VARIABlE}':v})
    # one can query the different variable quickly and store the results appropriatly.
    # df = endpoint.select_as_dataframe(query)

## For updating graphs, one can simply use the update_query funciton

In [ ]:
q = practicalSPARQL.stringify_SPARQL('./queries/DROPQUERY')
endpoint.update_query(q)
endpoint.con
# update_query accepts INSERT; DELETE; and DROP Queries and executes them using POST.

## To construct data, you can use the construct_as_ttl function

In [13]:
q = practicalSPARQL.stringify_SPARQL('./queries/queryConstruct.sparql')
ttl = endpoint.construct_as_ttl(q, outpath='res.ttl')

/Users/hassanel-hajj/anaconda3/lib/python3.8/site-packages/SPARQLWrapper/Wrapper.py:1315: RuntimeWarning: Format requested was TURTLE, but RDF/XML (application/rdf+xml;charset=utf-8) has been returned by the endpoint
  warnings.warn(message % (requested.upper(), format_name, mime), RuntimeWarning)

AttributeError: 'ConjunctiveGraph' object has no attribute 'decode'

## Working with local graphs

In [8]:
x = practicalSPARQL.rdfGRAPH()
x.read_graph('./test_graph.ttl')
q = practicalSPARQL.stringify_SPARQL('query.sparql', is_file=True)
# x.select_as_dataframe(q)

Graph loaded

In [19]:
print(q)

SELECT *
WHERE{
    <http://sphaera.mpiwg-berlin.mpg.de/id/item/56defdfc-9b12-4caf-b865-b70e00e5918c> ?p ?o.
    ?s ?p ?o.

}